.dub
docs.json
__dummy.html
docs/
/either
either.so
either.dylib
either.dll
either.a
either.lib
libeither.so
libeither.dylib
libeither.dll
libeither.a
libeither.lib
either-test-*
*.exe
*.o
*.obj
*.lst
.trial
either
trial-root
trial_root.d
dub.selections.json
